/*
this is first scss sample.
*/
.main {
  border: 1px solid #00008b;

  p {
    font-size: 20px;
    color: #009900;
    margin: 2px;
    a {
      text-decoration: none;
      &:hover {
        font-weight: bolder;
      }
    }
  }
}