/*
this is first scss sample.
*/
@import "compass";

$fsize:15px;

@function double($size) {
  @return $size * 2;
}

.main {
  border: 10px solid #00008b;
  @include border-radius(2px);

  p {
    font-size:double($fsize);
    color: #009900;
    margin: 2px;
    a {
      text-decoration: none;
      &:hover {
        font-weight: bolder;
      }
    }
  }
  ul {
    list-style: none;
    li {
      color: #ff3600;
      font-size: $fsize;
    }
  }
}